<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>Gilroy-ExtraBold.otf</string>
        <string>Gilroy-Light.otf</string>
        <string>Proxima Nova Alt Bold.otf</string>
        <string>Proxima Nova Alt Light.otf</string>
        <string>Proxima Nova Alt Thin.otf</string>
        <string>Proxima Nova Black.otf</string>
        <string>Proxima Nova Bold.otf</string>
        <string>Proxima Nova Extrabold.otf</string>
        <string>Proxima Nova Thin.otf</string>
        <string>Proxima Nova Regular.otf</string>
    </array>
</dict>
</plist>
